{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
  <title>About</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="sub_page">
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand " href="index.html">Apple Detection</a>

          <button class="navbar-toggler me-3 text-black" type="button" data-bs-toggle="collapse" data-bs-target="#btn">
            <i class='bx bx-menu bx-md'></i>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="">About</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'viewhistory' %}">History</a>
              </li>
            
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="detail-box">
        <div class="heading_container heading_center">
          <h2>
            About
          </h2>
          <div class="divider" style="height:2px; width:140px; background-color: #8223c1;"></div>
        </div>
        <br>
        <p style="font-size: 18px;">
          Agriculture plays a major role in the economy of many developing countries. Apple falls under 
          the commercial crops as a fruit which is grown worldwide. However,
          Malady detection in 
          apples has always been one of the major causes for the decline in apple quality and yield.
          <br><br>
          Therefore, this image-based classification system helps the agricultural industry, where it allows users to detect bad apples from normal apples. 
          The system also has the capability to store the detection history of the apples.  
          It uses machine learning model to examine and identify the state of apples, thereby improving their existing system for managing the apples.  
        </p>
        <br><br>
      </div>
      
      <h2 class="text-center">Our Team</h2>
      <div class="divider" style="height:2px; width:150px; background-color: #8223c1; position: absolute; left:44%;"></div>
    <div class="text-center">
        <div class="w-100 p-4 text-center">
            <div class="align-items-center">
              <img src="{% static 'images/sir.jpg' %}" class="rounded-circle" height="250" width="250" alt="Sir Ronnie Peh">
                <h3>Project Guide</h3>
                <h6>Mr Ronnie Peh</h6>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row col-md-12 offset-md-0 p3">
      <div class="w-50 text-center">
        <img src="{% static 'images/karma.jpg' %}" class="rounded-circle" height="200" alt="Karma Yangzom">
          <h4>Team Leader</h4>
          <h6>Karma Yangzom</h6>
      </div>

      <div class="w-50 text-center ">
        <img src="{% static 'images/kd.jpg' %}" class="rounded-circle" height="200" alt="Kinzang Dorji">
          <h4>Lead Programmer</h4>
          <h6>Kinzang Dorji</h6>
        </div>  
      </div>
    <br><br><br>

      <div class="row col-md-12 offset-md-0">
        <div class="w-50 text-center">
          <img src="{% static 'images/sonam.jpg' %}" class="rounded-circle" height="200" alt="Sonam Choki">
            <h4>UI Designer</h4>
            <h6>Sonam Choki</h6>
        </div>

        <div class="w-50 text-center">
          <img src="{% static 'images/ng.jpg' %}" class="rounded-circle" height="200" alt="Nima Gyaltshen">
            <h4>Database Designer</h4>
            <h6>Nima Gyeltshen</h6>
        </div>  
    </div>    
    </div>
  </section>

  <!-- end about section -->

  <!-- info section -->
  <section class="info_section ">
    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-4">
            <img src="{% static 'images/logo.png' %}" alt="234" style="width: 90%; height:20px;display: inline-block;height: 70%;vertical-align: middle;">
          </div>
          <div class="col-md-8 col-lg-4" style="left:7%">
            <h6>
              CONTACT US
            </h6>
            <div class="info_link-box">
              <a href="https://www.gcit.edu.bt/">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>Gyalpozhing College, Mongar</span>
              </a>
              <a href="https://mail.google.com/mail">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> 12190058.gcit@rub.edu.bt</span>
              </a>
              <a href="https://mail.google.com/mail">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> 12190061.gcit@rub.edu.bt</span>
              </a>
              <a href="https://mail.google.com/mail">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> 12190068.gcit@rub.edu.bt</span>
              </a>
              <a href="https://mail.google.com/mail">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> 12190079.gcit@rub.edu.bt</span>
              </a>
            </div>
          </div>
          <div class="col-md-8 col-lg-4">
            <h6>SOCIAL LINKS</h6>
            <div class="social_container">
              <div class="social_box">
                <a href="https://www.facebook.com/">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/?hl=en">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <!-- end info section -->

  <!-- footer section -->
  <footer class=" footer_section">
    <div class="container">
      <p>
        &copy; 2022 All Rights Reserved
      </p>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  
 
</body>

</html>