{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
  <title>Apple Detection</title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
  
  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="hero_area">
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand " href="index.html"> Apple detection</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'viewhistory' %}">History</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div class="container" >
        <div class="row">
          <div class="col-md-6 col-lg-5">
            <div class="detail-box">
              <h1>
                Automated Apple Detection System
              </h1>
              <div class="btn-box">
                <a href="{% url 'camera' %}" class="btn1">
                  Start Detection
                </a>
              </div>
              <br><br><br><br>
              <div class="upload">
                <form method="post" enctype="multipart/form-data" action="/uploadpredictImage/">
                  {% csrf_token %}
                  <div class="test-centre">
                      <!-- <label for="fname"><h4 style="color: white;">Upload Image File:</h4></label>
                      <br>
                      <input name= "filePath"  type="file" class="text-center"><br><br> -->
                      <div class="container">
                          <div id="selectedBanner"></div>
                          <div class="form-group">
                           <div class="btn-box">
                            <input type="file"  name="image" id="img" />
                           </div> 
                            <input name= "filePath"  type="hidden" id="myfield" value=""><br><br>
                          </div>
                      </div>
                      <input type="submit" value="Submit" class="btn btn-outline-success"></div> 
                      <script>
                        var selDiv = "";
                        var storedFiles = [];
                        $(document).ready(function () {
                          $("#img").on("change", handleFileSelect);
                          selDiv = $("#selectedBanner");
                        });
                  
                        function handleFileSelect(e) {
                          var files = e.target.files;
                          var filesArr = Array.prototype.slice.call(files);
                          filesArr.forEach(function (f) {
                            if (!f.type.match("image.*")) {
                              return;
                            }
                            storedFiles.push(f);
                  
                            var reader = new FileReader();
                            reader.onload = function (e) {
                              var html =
                                '<img src="' +
                                e.target.result +
                                "\" data-file='" +
                                f.name +
                                "alt='Category Image' height='200px' width='200px'>";
                              selDiv.html(html);
                              console.log(e.target.result);
                              document.getElementById('myfield').value = e.target.result;

                            };
                            reader.readAsDataURL(f);
                          });
                        }
                      </script>
                  <br>
                  </div>      
                </form>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-6">
              <div class="img-box">
                <img src="{% static 'images/a.png' %}" alt="Apple Image">
            </div>
            </div>
      </div>
    </section>
    </div>
  <!---- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="detail-box">
        <div class="heading_container heading_center">
          <h2>
            About
          </h2>
          <div class="divider" style="height:2px; width:140px; background-color: #8223c1;"></div>
        </div>
        <br>
        <h4>“An apple a day keeps the doctor away.”  ― Benjamin Franklin</h4>
         <br>
        <p style="font-size: 18px;"> 
          Agriculture plays a major role in the economy of many developing countries. Apple falls under 
          the commercial crops as a fruit which is grown worldwide. However,
          Malady detection in 
          apples has always been one of the major causes for the decline in apple quality and yield.
          <br><br>
          Therefore, this image-based classification system helps the agricultural industry, where it allows users to detect bad apples from normal apples. 
          The system also has the capability to store the detection history of the apples.  
          It uses machine learning model to examine and identify the state of apples, thereby improving their existing system for managing the apples. 
        </p>
      </div>
    </div>
  </section>
  <!-- end about section -->
  
   <!--MILESTONE-->
   <section id="milestone" class="overlay text-white text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="counter">
                    <div class="number h1">12</div>
                <div class="divider"></div>
                <h5>NORMAL APPLE</h5>
            </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="counter">
                    <div class="number h1">125</div>
                <div class="divider"></div>
                <h5>BAD APPLE</h5>
            </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="counter">
                    <div class="number h1">137</div>
                <div class="divider"></div>
                <h5>TOTAL</h5>
            </div>
            </div>
            </div>
        </div>
      </div>
  </section>

  <!-- blog section -->
  <section class="blog_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Fun Facts About Apple
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/b1.jpg' %}" alt="">
            </div>
            <div class="detail-box">
              <p>In the Chinese culture, the word for apples is pronounced as ‘ping’ which also stands for peace. This is why apples are a favorite gift to give when visiting someone in China.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/ap2.jpg' %}" alt="">
            </div>
            <div class="detail-box">
              <p>Apple juice, apple flesh and apple cider vinegar all have a high malic acid content. This beneficial compound is helpful in treating conditions such as fibromyalgia, chronic fatigue syndrome, and gallstones.</p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mx-auto">
          <div class="box">
            <div class="img-box">
              <img src="{% static 'images/ap.png' %}" alt="">
            </div>
            <div class="detail-box">
              <p>
              One average sized apple contains almost twice the amount of fiber as one serving of a fiber supplement. It also tastes a lot better, too. Why bother with supplements when you can eat a delicious apple?
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end blog section -->


  <!-- info section -->
  <section class="info_section ">
    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-lg-4">
            <img src="{% static 'images/logo.png' %}" alt="234" style="width: 90%; height:20px;display: inline-block;height: 70%;vertical-align: middle;">
          </div>
          <div class="col-md-8 col-lg-4" style="left:7%">
            <h6>
              CONTACT US
            </h6>
            <div class="info_link-box">
              <a href="https://www.gcit.edu.bt/">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>Gyalpozhing College, Mongar</span>
              </a>
              <a href="https://mail.google.com/mail">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> 12190058.gcit@rub.edu.bt</span>
              </a>
              <a href="https://mail.google.com/mail">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> 12190061.gcit@rub.edu.bt</span>
              </a>
              <a href="https://mail.google.com/mail">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> 12190068.gcit@rub.edu.bt</span>
              </a>
              <a href="https://mail.google.com/mail">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span> 12190079.gcit@rub.edu.bt</span>
              </a>
            </div>
          </div>
          <div class="col-md-8 col-lg-4">
            <h6>SOCIAL LINKS</h6>
            <div class="social_container">
              <div class="social_box">
                <a href="https://www.facebook.com/">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="https://twitter.com/">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="https://www.instagram.com/?hl=en">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  <!-- end info section -->

  <!-- footer section -->
  <footer class=" footer_section">
    <div class="container">
      <p>
        &copy; 2022 All Rights Reserved
      </p>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  
</body>

</html>